sudo: required
dist: trusty

language: cpp

compiler:
  - gcc

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-5
    - g++-5

before_install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi
  - sudo apt-get -qq update
  - sudo apt-get remove -y cmake
  - sudo apt-get install -y openssl libssl-dev
  - sudo apt-get install -y --no-install-recommends build-essential g++ libasound2-dev libgl1-mesa-dev python libxrandr-dev libxinerama-dev libxcursor-dev libcurl3 zlib1g-dev
  - mkdir cmake && wget --no-check-certificate -O- https://cmake.org/files/v3.5/cmake-3.5.1-Linux-x86_64.tar.gz|tar xzf - --strip-components=1 -C cmake
  - export PATH=$(pwd)/cmake/bin:$PATH
  - mkdir cmake-build && cd cmake-build && cmake -DCMAKE_BUILD_TYPE=Release .. && make -j $(($(nproc) + 1)) aot_extended

script:
  - ./extempore --noaudio --run extempore/tests/all-core.xtm
